<ng-http-loader></ng-http-loader>
<ul *ngIf="itemsSize && itemsSize > 0" class="pagination">
    <li [ngClass]="{disabled:currentPage === 1}" class="page-item first-item">
        <a (click)="setPage(1)" class="page-link">First</a>
    </li>
    <li [ngClass]="{disabled:currentPage === 1}" class="page-item previous-item">
        <a (click)="setPage(currentPage - 1)" class="page-link">Previous</a>
    </li>
    <li *ngFor="let page of pages" [ngClass]="{active:currentPage === page}" class="page-item number-item">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:currentPage === totalPages}" class="page-item next-item">
        <a (click)="setPage(currentPage + 1)" class="page-link">Next</a>
    </li>
    <li [ngClass]="{disabled:currentPage === totalPages}" class="page-item last-item">
        <a (click)="setPage(totalPages)" class="page-link">Last</a>
    </li>
</ul>